<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Raffgierig Bank</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#demo1">Demo #1</a></li>
                    <li class="nav-item"><a class="nav-link" href="#demo2">Demo #2</a></li>
                    <li class="nav-item"><a class="nav-link" href="#demo3">Demo #3</a></li>
                    <li class="nav-item"><a class="nav-link" href="#demo4">Demo #4</a></li>
                    <li class="nav-item"><a class="nav-link" href="/diag">Diagnostische Demo</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100 vh-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-baseline">
                    <!-- a class="btn btn-primary btn-xl" href="#demo1">Let's Get Started</a -->
                </div>
            </div>
        </div>
    </header>
    <!-- Demo 1-->
    <section class="page-section bg-primary" id="demo1">
        <div class="container px-4 px-lg-5 h-100 vh-100">
            <div class="row gx-4 gx-lg-5 h-100 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Demo 1</h2>
                    <h3 class="text-white">Veröffentlichen eines Cloud-Dienstes aus der Ferne</h3>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">
                        Lassen Sie uns unsere Web-Gateway-Anwendung aus der IBM Public Cloud lokal in diesem Zweig
                        veröffentlichen.
                    </p>
                    <img src="/static/assets/img/blueprint_demo_1_image.png" width="400px">
                    <p class="text-white-75 mb-4">
                        Dies hätte ein beliebiger Service in IBM Cloud, AWS, GCP, Azure oder sogar ein
                        Kundenrechenzentrum sein können.
                    </p>
                    <a class="btn btn-light btn-xl" href="http://loanswg.frankfurt-branch.appinsights.io"
                        target="_webgateway">Greifen Sie auf Web-Gateways zu</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Demo2 -->
    <section class="page-section" id="demo2">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Demo 2</h2>
                    <h3>Lassen Sie uns den Satelliten dazu bringen!</h3>
                    <hr class="divider divider-light" />
                    <p class="mb-4">
                        Installation anzeigen (Achtung... wirklich ziemlich langweilig!)
                    </p>
                    <p class="mb-4">
                        Der Vorteil, „im Cluster“ zu sein, besteht darin, dass Sie alle Dienste anhand ihres internen
                        Cluster-Dienstnamens finden und sie dann dort ankündigen können, wo Sie möchten.
                    </p>
                    <img src="/static/assets/img/blueprint_demo_2_image.png" width="400px">
                    <p>&nbsp;</p>
                    <a class="btn btn-primary btn-xl" href="http://toronto.frankfurt-branch.appinsights.io"
                        target="_frankfurt">Schick mich nach Toronto!</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Demo3 -->
    <section class="page-section bg-primary" id="demo3">
        <div class="container px-4 px-lg-5 h-100 vh-100">
            <div class="row gx-4 gx-lg-5 h-100 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Demo 3</h2>
                    <h3 class="text-white">Cluster zu Cluster</h3>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">
                        Lassen Sie uns nach Dienstnamen veröffentlichen und nach Dienstnamen auflösen. Außerhalb des
                        Clusters wird kein Anwendungsdienst bereitgestellt, er steht jedoch jedem verbundenen Cluster
                        zur Verfügung.
                    </p>
                    <img src="/static/assets/img/blueprint_demo_3_image.png" width="400px">
                    <p>&nbsp;</p>
                    <p class="text-white-75 mb-4">
                        Das ist cool. Das kommt als nächstes!
                    </p>
                    <a class="btn btn-light btn-xl" href="/diag" target="_diag">Öffnen Sie die interne Diagnose</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Demo4 -->
    <section class="page-section" id="demo4">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Demo 4</h2>
                    <h3>TDas Internet funktioniert auch!</h3>
                    <hr class="divider divider-light" />
                    <p class="mb-4">
                        Nehmen wir einen unserer Satellitendienste und erstellen einen sicheren und
                        Anycast-Internetdienst.
                    </p>
                    <img src="/static/assets/img/blueprint_demo_4_image.png" width="400px">
                    <p>&nbsp;</p>
                    <a class="btn btn-primary btn-xl" href="https://world.v.appinsights.io" target="_blank">Bring mich
                        ins Internet</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5">
            <div class="small text-center text-muted">Copyright &copy; 2021 - F5 Networks</div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="static/js/scripts.js"></script>
</body>

</html>
